%btn{
	border-radius: 4px;
    border: 1px solid $btn-border-color;
    color: $btn-color;
    cursor: pointer;
    display: inline-block;
    padding: 5px 10px;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}
