
.content{
	font-family: $primary-font;
	&-main{
		float: left;
		display: inline-block;
		padding-top: $content-padding-t;
		width: calc(100% - 300px - 20px);
		
		@include breakPoint(767px){
			width: 100%;
		}
		@include breakPoint(596px){
			clear: both;
			@include widthCalc(12, $content-padding-tb);
		}	
		&__intro {
			margin-bottom: $content-margin-b + 30;
			h2{
				font-size: 30px;
	    		font-weight: 400;
	    		color: $color-dark;
	    	}
			p{
				padding-top: $content-padding-t;
				font-size: 1.5rem;
				color: $color-light;
				line-height: 1.7;
			}	
		}
		&__list-content{

			 	ul{
					@include clearfix();
					.item{
						color: #555;
						float:left;
						margin-bottom:  $content-margin-b !important;
						@include itemGrid(3, 1%);

						@include breakPoint(596px){
							@include itemGrid(2, 1%);
						}
						@include breakPoint(320px){
							@include itemGrid(1, 1%);
							margin-bottom: 1% !important;

						}

						[class^="icon-"]{
							color: $lightgreen;
							font-size: 16px;
							float: left;
						}
						&__content{
							margin-left: $content-margin-l;
							font-size: 14px;
							h3{
								font-weight: lighter;
								margin-bottom: $content-margin-b;
							}
							.short-disc{
								margin-bottom: $content-margin-t;
							}
						}

					}
			}
		}
	}
	&-sidebar{
		float: right;
		display: inline-block;
		padding-top: $content-padding-t;
		width:300px;	
			
		@include breakPoint(596px){
		 	@include widthCalc(12, $content-padding-tb);
		}
		@include breakPoint(767px){
			display: none;
		}
		&__system-status {
			@include clearfix();
			margin-bottom: 50px;
			a{
				font-size: 12px;
			}
			[class^="icon-check"]{
				color: $lightgreen;
				font-size: 16px;
				float: left;
			}
			.text-wrap {
			    float: left;
			    padding-left: 7px;
			    .bold{
					font-weight: bold;
				}
			} 

		}
		 
		
		&__box{
			padding: 20px;
			background: $sidebar-bg-color;
			h4{
				font-weight: bold;
				color:lighten($color-dark, 5) ;
				margin-bottom: $content-margin-b;
			}
			ul{
				@include clearfix();
				li{
					font-size: 12px;
					margin-bottom: $content-margin-b;
				}
			}
			a{
				font-size: 12px;				
			}

		}	

		
	}
}

/**/