@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?573glm');
  src:  url('fonts/icomoon.eot?573glm#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?573glm') format('truetype'),
    url('fonts/icomoon.woff?573glm') format('woff'),
    url('fonts/icomoon.svg?573glm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chat:before {
  content: "\e900";
}
.icon-comment:before {
  content: "\e900";
}
.icon-talk:before {
  content: "\e900";
}
.icon-lifebuoy:before {
  content: "\e941";
}
.icon-drive:before {
  content: "\e963";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-search:before {
  content: "\e986";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-cog:before {
  content: "\e994";
}
.icon-pie-chart:before {
  content: "\e99a";
}
.icon-shield:before {
  content: "\e9b4";
}
.icon-power:before {
  content: "\e9b5";
}
.icon-cloud:before {
  content: "\e9c1";
}
.icon-plus:before {
  content: "\ea0a";
}
.icon-filter:before {
  content: "\ea5b";
}
