.footer{
	margin: $content-margin-b auto;
	
	ul{
		@include clearfix();
		li{
			float:left;
			width: 70px;
			text-align:center;
			font-family: $primary-font;
			a{
				color:lighten($color-dark, 50);
			}
		}
	}
}