
* {
 	@include box-sizing();
}
a{
	text-decoration: none;
	color:$anchor-color;
}
 
 
.wrap{
	width: $width;
	max-width: $max-width;
	margin: 0 auto;
	padding: 0 20px;
	display: block;
    overflow: hidden;
}
