
/*header css*/
.header{
	height: $header-height;
	background: $seconday-color;
	.logo {
		line-height: 80px;
		float: left;
		img{
			vertical-align: middle;
			width: 100%;
			max-height: 60px;
			max-width: 217px;
		}
	}
	.signIn{
		float: right;
		margin: 20px 0 0 0 ; 
		.btn-default{
			@extend %btn;
		    background: $seconday-color;
		}
	}
	
}




