
.search {
	min-height: 245px;
	.box-left{
		width:73%;
		float: left;
		@include breakPoint(596px){
				width:100%;
		}
		h1{
			font-size:47px;
			font-family: $primary-font;
			font-weight: 300;
			padding:45px 0;
			transition: font-size 0.4s ease;
			@include breakPoint(596px){
				font-size:2rem;
			}

			a{
				color:#fff;
			}
		}
		input[type='text']{
			font-family: 'icomoon';
			@include bRadius();
			font-weight: 200;
		    padding: .75em 2.7em;
			font-size: 16px;
			width:inherit;
			width:100%;
			height: 3em;
			border: 1px solid #e3e3e3;	
			@include backImg('../images/search-btn.png', #fff, left);
			background-size: 18px 19px;
			background-position: left 7px center;
    		padding-left: 30px;
			
		}
		input[type="submit"]{
			display: none;
		}	
		.popular-links{
			font-size: 12px;
			font-family: $primary-font;
			padding: 15px 0 ;
			color:#fff;
		}
		
	}

	@include backImg('../images/search-right-img.png', $primary-color,  right 25% center);
	@include unselectable();
	@include breakPoint(596px){
		background-image: none;
		background: $primary-color;
	};
}