

$width: 100%;
$max-width: 1020px;
$header-height: 80px;
$position: relative;
$btn-border-color: #dddddd;
$primary-font: 'Open Sans', sans-serif;
$primary-color: #2F7BBF;
$seconday-color: #f0f0f0;
$sidebar-bg-color: #ebebeb;
$btn-color: #158ec2;
$lightgreen: #9BCA3E;
$anchor-color: #158ec2;
$color-light: #c9c9c9;
$color-dark: #424242;



 
$content-padding-tb: 20px 0 20px 0;
$content-padding-tl: 20px 0 0 20px;
$content-padding-bl: 0 0 20px 20px;
$content-padding-lr: 0 20px;
$content-padding-t: 20px;
$content-padding-l: 20px;
$content-padding-r: 20px;
$content-padding-b: 20px;
$content-padding: 0;


$content-margin-tb: 20px 0 20px 0;
$content-margin-tl: 20px 0 0 20px;
$content-margin-bl: 0 0 20px 20px;
$content-margin-lr: 0 20px;
$content-margin-t: 20px;
$content-margin-l: 20px;
$content-margin-r: 20px;
$content-margin-b: 20px;
$content-margin: 0;