
/*Mixins CSS*/
@mixin box-sizing( $type: border-box ) {
	    -webkit-box-sizing: $type;
	       -moz-box-sizing: $type;
	         -o-box-sizing: $type;
	        -ms-box-sizing: $type;
	            box-sizing: $type;
}
@mixin unselectable($select: none){
	-webkit-touch-callout: $select;
	  -webkit-user-select: $select;
	   -khtml-user-select: $select;
	     -moz-user-select: $select;
	      -ms-user-select: $select;
	          user-select: $select;

}
@mixin bRadius( $border-radius: 5px ){
	-webkit-border-radius: $border-radius;
	   -moz-border-radius: $border-radius;
	     -o-border-radius: $border-radius;
	    -ms-border-radius: $border-radius;
	        border-radius: $border-radius;
}

@mixin beforeContent() {
	  &:before {
	        content: 'x';
		    background: red;
		    width: 20px;
		    height: 20px;
		    display: inline-block;
		    float: left;
		    color: red;
		    position: relative;
		    top: 0;
		    left: 0;
		    overflow: hidden;
		}
}
 

@mixin backImg($image, $primary-color,  $position: center center){
	background: $primary-color url(#{$image}) ;
	background-position: $position;
	background-size: contain;
	background-repeat: no-repeat;
}

@mixin breakPoint($args...){
	@if length ($args) == 1{
		@media  (max-width: nth($args, 1)) {
			@content;
		}
	} /*@else{
		@media  (min-width: nth($args, 1)) and (max-width: nth($args, 2)){
			@content;
		}
	}*/
	
}
 
/*Content Container With Calculation padding minus (-3.54), Grid Cloumn System*/
@mixin widthCalc($qty, $padding, $width:100% ){
	 	max-width: $width / 12 * $qty;
	 	padding: $padding;
}

@mixin existsSidebar() {
  @if & {
  	   @content;
  } @else {
    
  }
}
 

/*Item Width or Grid Calculation*/
@mixin itemGrid($qty, $margin){
	width:((100% - (($qty - 1) * $margin)) / $qty);
	&:nth-child(n){
		padding-right: $margin;
		margin-bottom: $margin;
		border-bottom: 1px solid #eaeaea;
    	min-height: 155px;
	}
	&:nth-child(#{$qty}n){
 		padding-right: 0;
		margin-bottom: 0;	
	}
	 
}

@mixin clearfix(){
	&:before,
	&:after{
		clear:both;
	}
	&:after{
		clear: both;
	}

}
