@import "https://fonts.googleapis.com/css?family=Open+Sans:300, 400,700,800";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?573glm");
  src: url("fonts/icomoon.eot?573glm#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?573glm") format("truetype"), url("fonts/icomoon.woff?573glm") format("woff"), url("fonts/icomoon.svg?573glm#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chat:before {
  content: "\e900";
}

.icon-comment:before {
  content: "\e900";
}

.icon-talk:before {
  content: "\e900";
}

.icon-lifebuoy:before {
  content: "\e941";
}

.icon-drive:before {
  content: "\e963";
}

.icon-bubble:before {
  content: "\e96b";
}

.icon-search:before {
  content: "\e986";
}

.icon-lock:before {
  content: "\e98f";
}

.icon-cog:before {
  content: "\e994";
}

.icon-pie-chart:before {
  content: "\e99a";
}

.icon-shield:before {
  content: "\e9b4";
}

.icon-power:before {
  content: "\e9b5";
}

.icon-cloud:before {
  content: "\e9c1";
}

.icon-plus:before {
  content: "\ea0a";
}

.icon-filter:before {
  content: "\ea5b";
}

/*Mixins CSS*/
/*Content Container With Calculation padding minus (-3.54), Grid Cloumn System*/
/*Item Width or Grid Calculation*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #158ec2;
}

.wrap {
  width: 100%;
  max-width: 1020px;
  margin: 0 auto;
  padding: 0 20px;
  display: block;
  overflow: hidden;
}

.header .signIn .btn-default {
  border-radius: 4px;
  border: 1px solid #dddddd;
  color: #158ec2;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px;
  position: relative;
  vertical-align: middle;
  white-space: nowrap;
}

/*header css*/
.header {
  height: 80px;
  background: #f0f0f0;
}
.header .logo {
  line-height: 80px;
  float: left;
}
.header .logo img {
  vertical-align: middle;
  width: 100%;
  max-height: 60px;
  max-width: 217px;
}
.header .signIn {
  float: right;
  margin: 20px 0 0 0;
}
.header .signIn .btn-default {
  background: #f0f0f0;
}

.search {
  min-height: 245px;
  background: #2F7BBF url(../images/search-right-img.png);
  background-position: right 25% center;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*@else{
	@media  (min-width: nth($args, 1)) and (max-width: nth($args, 2)){
		@content;
	}
}*/
}
.search .box-left {
  width: 73%;
  float: left;
  /*@else{
	@media  (min-width: nth($args, 1)) and (max-width: nth($args, 2)){
		@content;
	}
}*/
}
@media (max-width: 596px) {
  .search .box-left {
    width: 100%;
  }
}
.search .box-left h1 {
  font-size: 47px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding: 45px 0;
  transition: font-size 0.4s ease;
  /*@else{
	@media  (min-width: nth($args, 1)) and (max-width: nth($args, 2)){
		@content;
	}
}*/
}
@media (max-width: 596px) {
  .search .box-left h1 {
    font-size: 2rem;
  }
}
.search .box-left h1 a {
  color: #fff;
}
.search .box-left input[type='text'] {
  font-family: 'icomoon';
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  font-weight: 200;
  padding: .75em 2.7em;
  font-size: 16px;
  width: inherit;
  width: 100%;
  height: 3em;
  border: 1px solid #e3e3e3;
  background: #fff url(../images/search-btn.png);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 18px 19px;
  background-position: left 7px center;
  padding-left: 30px;
}
.search .box-left input[type="submit"] {
  display: none;
}
.search .box-left .popular-links {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  padding: 15px 0;
  color: #fff;
}
@media (max-width: 596px) {
  .search {
    background-image: none;
    background: #2F7BBF;
  }
}

.content {
  font-family: "Open Sans", sans-serif;
}
.content-main {
  float: left;
  display: inline-block;
  padding-top: 20px;
  width: calc(100% - 300px - 20px);
  /*@else{
	@media  (min-width: nth($args, 1)) and (max-width: nth($args, 2)){
		@content;
	}
}*/
  /*@else{
	@media  (min-width: nth($args, 1)) and (max-width: nth($args, 2)){
		@content;
	}
}*/
}
@media (max-width: 767px) {
  .content-main {
    width: 100%;
  }
}
@media (max-width: 596px) {
  .content-main {
    clear: both;
    max-width: 100%;
    padding: 20px 0 20px 0;
  }
}
.content-main__intro {
  margin-bottom: 50px;
}
.content-main__intro h2 {
  font-size: 30px;
  font-weight: 400;
  color: #424242;
}
.content-main__intro p {
  padding-top: 20px;
  font-size: 1.5rem;
  color: #c9c9c9;
  line-height: 1.7;
}
.content-main__list-content ul:before, .content-main__list-content ul:after {
  clear: both;
}
.content-main__list-content ul:after {
  clear: both;
}
.content-main__list-content ul .item {
  color: #555;
  float: left;
  margin-bottom: 20px !important;
  width: 32.66667%;
  /*@else{
	@media  (min-width: nth($args, 1)) and (max-width: nth($args, 2)){
		@content;
	}
}*/
  /*@else{
	@media  (min-width: nth($args, 1)) and (max-width: nth($args, 2)){
		@content;
	}
}*/
}
.content-main__list-content ul .item:nth-child(n) {
  padding-right: 1%;
  margin-bottom: 1%;
  border-bottom: 1px solid #eaeaea;
  min-height: 155px;
}
.content-main__list-content ul .item:nth-child(3n) {
  padding-right: 0;
  margin-bottom: 0;
}
@media (max-width: 596px) {
  .content-main__list-content ul .item {
    width: 49.5%;
  }
  .content-main__list-content ul .item:nth-child(n) {
    padding-right: 1%;
    margin-bottom: 1%;
    border-bottom: 1px solid #eaeaea;
    min-height: 155px;
  }
  .content-main__list-content ul .item:nth-child(2n) {
    padding-right: 0;
    margin-bottom: 0;
  }
}
@media (max-width: 320px) {
  .content-main__list-content ul .item {
    width: 100%;
    margin-bottom: 1% !important;
  }
  .content-main__list-content ul .item:nth-child(n) {
    padding-right: 1%;
    margin-bottom: 1%;
    border-bottom: 1px solid #eaeaea;
    min-height: 155px;
  }
  .content-main__list-content ul .item:nth-child(1n) {
    padding-right: 0;
    margin-bottom: 0;
  }
}
.content-main__list-content ul .item [class^="icon-"] {
  color: #9BCA3E;
  font-size: 16px;
  float: left;
}
.content-main__list-content ul .item__content {
  margin-left: 20px;
  font-size: 14px;
}
.content-main__list-content ul .item__content h3 {
  font-weight: lighter;
  margin-bottom: 20px;
}
.content-main__list-content ul .item__content .short-disc {
  margin-bottom: 20px;
}
.content-sidebar {
  float: right;
  display: inline-block;
  padding-top: 20px;
  width: 300px;
  /*@else{
	@media  (min-width: nth($args, 1)) and (max-width: nth($args, 2)){
		@content;
	}
}*/
  /*@else{
	@media  (min-width: nth($args, 1)) and (max-width: nth($args, 2)){
		@content;
	}
}*/
}
@media (max-width: 596px) {
  .content-sidebar {
    max-width: 100%;
    padding: 20px 0 20px 0;
  }
}
@media (max-width: 767px) {
  .content-sidebar {
    display: none;
  }
}
.content-sidebar__system-status {
  margin-bottom: 50px;
}
.content-sidebar__system-status:before, .content-sidebar__system-status:after {
  clear: both;
}
.content-sidebar__system-status:after {
  clear: both;
}
.content-sidebar__system-status a {
  font-size: 12px;
}
.content-sidebar__system-status [class^="icon-check"] {
  color: #9BCA3E;
  font-size: 16px;
  float: left;
}
.content-sidebar__system-status .text-wrap {
  float: left;
  padding-left: 7px;
}
.content-sidebar__system-status .text-wrap .bold {
  font-weight: bold;
}
.content-sidebar__box {
  padding: 20px;
  background: #ebebeb;
}
.content-sidebar__box h4 {
  font-weight: bold;
  color: #4f4f4f;
  margin-bottom: 20px;
}
.content-sidebar__box ul:before, .content-sidebar__box ul:after {
  clear: both;
}
.content-sidebar__box ul:after {
  clear: both;
}
.content-sidebar__box ul li {
  font-size: 12px;
  margin-bottom: 20px;
}
.content-sidebar__box a {
  font-size: 12px;
}

/**/
.not-finding {
  min-height: 245px;
  background: #2F7BBF;
  color: #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /*@else{
	@media  (min-width: nth($args, 1)) and (max-width: nth($args, 2)){
		@content;
	}
}*/
}
.not-finding .box-full {
  width: 73%;
  float: left;
  /*@else{
	@media  (min-width: nth($args, 1)) and (max-width: nth($args, 2)){
		@content;
	}
}*/
}
@media (max-width: 596px) {
  .not-finding .box-full {
    width: 100%;
  }
}
.not-finding .box-full h2 {
  font-size: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding: 45px 0;
  transition: font-size 0.4s ease;
  /*@else{
	@media  (min-width: nth($args, 1)) and (max-width: nth($args, 2)){
		@content;
	}
}*/
}
@media (max-width: 596px) {
  .not-finding .box-full h2 {
    font-size: 2rem;
  }
}
.not-finding .box-full h2 a {
  color: #fff;
}
.not-finding .box-full input[type='text'] {
  font-family: 'icomoon';
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  font-weight: 200;
  padding: .75em 2.7em;
  font-size: 16px;
  width: inherit;
  width: 100%;
  height: 3em;
  border: 1px solid #e3e3e3;
  background: #fff url(../images/search-btn.png);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 18px 19px;
  background-position: left 7px center;
  padding-left: 30px;
  margin: 20px 0 20px 0;
}
.not-finding .box-full input[type="submit"] {
  display: none;
}
.not-finding .box-full .popular-links {
  font-size: 12px;
  font-family: "Open Sans", sans-serif;
  padding: 15px 0;
  color: #fff;
}
@media (max-width: 596px) {
  .not-finding {
    background-image: none;
    background: #2F7BBF;
  }
}

.footer {
  margin: 20px auto;
}
.footer ul:before, .footer ul:after {
  clear: both;
}
.footer ul:after {
  clear: both;
}
.footer ul li {
  float: left;
  width: 70px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
.footer ul li a {
  color: #c2c2c2;
}
